*.bin
*.lst
*.gas
*.obj
*.nas
*.hrb
*.bim
*.map
*.org
!naskfunc.nas
!asmhead.nas
!ipl20.nas
!nihongo.org
haribote.sys
haribote.img
apilib.lib
nihongo.fnt
!hello5.nas
!api*.nas
!alloca.nas
!jpn16v00.bin
